.features {
    padding-top: 94px;
    padding-bottom: 47px;

    &__list {
        display: flex;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--first-text-color);
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
        max-width: 270px;
    }
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagrama::before {
    background-image: url(../images/diagram.svg);
}

.icon-technology::before {
    background-image: url(../images/astronaut.svg);
}

.features__item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--third-background-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}